h4{
    text-align: center;
    color:white;
    font-weight: 700;
}
h2{
    text-align: center;
    color:white
}

.h3 {
    color:white;
    text-align:center;
}

#input-field{
    display:block;
    margin: 0 auto;
    padding:5px 5px 5px 5px;
    border-radius: 5px;
    height:50px;
    outline-color: solid grey
}

.submit {
    margin:0 auto;
    display:block;
    margin-top:15px;
    width: 100px;
    height:35px;
    border-color: grey;
    cursor: pointer;
    color: #111;
    border-radius: 9px;
    border:none;
}
.submit:hover {
    width: 110px;
    height:40px;
}
body {
    background: linear-gradient(45deg, #000000, #ffffff);
    background-size: 10000px;
  }

.second-input {
    margin: 0 auto;
    display:block;
    margin-top:35px;
    height: 35px;
}




